<p>demo works!</p>
<p>{{title}}</p>

<li *ngFor="let item of myArr">{{item}}</li>

<hr/>
<p>Name of Course :: {{course}}</p>

<button class="btn btn-outline-success">Go Back</button>


<hr>
<div class="position-absolute container" style="left: 0; z-index:10">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5">
        <div class="list-group" >
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
          *ngFor="let artist of artists" (click)="showArtist($event, artist)">
              <div class="media">
                <div class="media-body align-self-center">
                  <h5 class="m-0">{{artist.name}}</h5>
                  {{artist.reknown}}
                </div><!-- media body -->
              </div><!-- media -->
          </a><!-- link -->
        </div><!-- list-group -->
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->